SECRET_KEY=sk_9f3k2j4h8s7d6f1g_92h3j4k5l6m7n8p9q0r
JWT_SECRET_KEY=jwt_8dh3k9s2j1h4f7g6_7g6f5d4s3a2p1o9i8u
COLLEGE_EMAIL_DOMAIN=reva.edu.in
MONGO_URI=mongodb://localhost:27017/unirank

# Gmail SMTP Configuration
GMAIL_USER=learnitfast6@gmail.com
GMAIL_APP_PASS=hjsa aqxt mfoh uean
